<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Package visibility permission (Android 11+) - 安装时自动授予 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />

    <!-- Floating window permission - 需要通过 AppOps 授予 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- External storage permissions (Android 12 及以下) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <!-- Media permissions for Android 13+ (API 33+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy,SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="PhotoAndVideoPolicy,SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Manage all files permission (Android 11+) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="AllFilesAccessPolicy,ScopedStorage" />

    <application
        android:name=".MamuApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:theme="@style/Theme.MX">

        <!-- 权限设置启动页面 -->
        <activity
            android:name=".PermissionSetupActivity"
            android:exported="true"
            android:theme="@style/Theme.MX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MX" />

        <!-- 驱动安装界面 -->
        <activity
            android:name=".DriverInstallActivity"
            android:exported="false"
            android:theme="@style/Theme.MX" />

    </application>

</manifest>